<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h2 th:text="${vote.title}"></h2>
    <form th:action="@{/choice/action}" th:method="post">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>选项名</th>
                <th>票数</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="choice : ${choices}">
                <td th:switch="${vote.isMultiple()}">
                    <input th:case="false" type="radio" th:name="choiceId" th:value="${choice.id}"/>
                    <input th:case="true" type="checkbox" th:name="choiceId" th:value="${choice.id}"/>
                </td>
                <td th:text="${choice.name}">xuan xiang ming</td>
                <td th:text="${choice.number}">piaoshu</td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>